<div
    *ngIf="!editing"
    (dblclick)="setEditing(true)"
    data-testid="item-readonly-mode"
    class="noselect"
>
    <ng-content><!-- read-only view --></ng-content>
</div>
<div *ngIf="editing" class="input-group">
    <input
        type="text"
        #itemInput
        data-testid="item-input"
        class="form-control"
        placeholder="#hours"
        [value]="textValue()"
        (keyup.enter)="onSubmit()"
        (keyup.escape)="onCancel()"
    />
    <button
        data-testid="confirm-item-change"
        class="btn btn-outline-primary"
        type="button"
        (click)="onSubmit()"
    >
        <i class="fa fa-check"></i>
    </button>
    <button
        data-testid="cancel-item-change"
        class="btn btn-outline-secondary"
        type="button"
        (click)="onCancel()"
    >
        <i class="fa fa-ban"></i>
    </button>
</div>
