<form (submit)="this.confirm.emit()">
    <input
        data-testid="activity-input"
        #textInput
        [(ngModel)]="name"
        [ngbTypeahead]="typeahead$"
        [resultTemplate]="rt"
        [inputFormatter]="typeaheadFormatter"
        [placeholder]="placeholder"
        (selectItem)="selected($event)"
        typeaheadOptionField="name"
        class="form-control"
        name="activityPickerInput"
        autocomplete="off"
    />
</form>

<ng-template #rt let-r="result" let-t="term">
    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
</ng-template>
