<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><i class="far fa-clock"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" *ngFor="let entry of entries">
        <a class="nav-link" [routerLink]="entry.link">
          <i class="far fa-{{entry.icon}}"></i>
          {{entry.label}}
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <!--app-activity-picker class="form-inline my-2 mx-2" [activities$]="activities$"></app-activity-picker-->
    <!--div class="form-inline my-2 mx-2">
      <input class="form-control mr-sm-2" type="text" placeholder="label" aria-label="New label">
      <button class="btn btn-outline-success my-2">Add</button>
    </div-->
    <div class="form-inline my-2 mx-2">
      <input class="form-control mr-sm-2" type="text" #newActivityName placeholder="activity type" aria-label="New activity">
      <button class="btn btn-outline-success my-2" (click)="createActivity(newActivityName.value)">Add</button>
    </div>
    <div class="nav-item dropdown" dropdown>
      <a dropdownToggle href="javascript:void(0);" class="nav-link">
        <i class="fa fa-cog"></i>
      </a>
      <a id="downloadElement" style="display:none"></a>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem" class="dropdown-item"><a class="dropdown-item" href="javascript:void(0);" (click)="downloadStorage()">Download data</a></li>
      </ul>
    </div>
  </div>
</nav>
