<div class="row">
    <div class="col alert alert-danger" role="alert">
        This is a work in progress. Backup early, and often!
    </div>
</div>
<div class="bg-light rounded-3 p-5">
    <div class="container">
        <h1 class="display-4">Welcome to the time tracker app!</h1>
        <hr class="my-4" />
        <p>
            <span class="font-weight-bold">Your data is stored locally</span>,
            in your browser. You must backup data yourself, use the cog icon in
            the navbar.
        </p>
    </div>
</div>
