<accordion *ngIf="entries.length > 0">
  <accordion-group *ngFor="let group of entries | groupActivityLogEntriesById" class="container-fluid">
    <div accordion-heading class="clearfix">
      {{ActivityTypes.byId(activityTypes, group.id).name}}
      <span class="badge badge-secondary float-right pull-right">{{group.cumulativeHours}} h</span>
    </div>
    <div class="row" *ngFor="let entry of group.entries">
      <div class="col">
        {{entry.hours}}
      </div>
    </div>
  </accordion-group>
</accordion>
<div id="accordion" role="tablist" *ngIf="entries.length <= 0">
  <div class="container-fluid panel">
    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
        No entries.
      </div>
    </div>
  </div>
</div>
