<accordion-group class="container-fluid my-1">
  <div accordion-heading class="clearfix">
    {{group.activityId | activityTypeIdToName: activityTypes}}
    <span class="badge badge-secondary float-right pull-right">{{group.cumulativeHours}} h</span>
  </div>
  <div class="row" *ngFor="let entry of group.entries">
    <div class="col-10">
      <app-editable-log-entry-description [entry]="entry" (changeEntryDescription)="changeEntryDescription.emit($event)"></app-editable-log-entry-description>
    </div>
    <div class="col-2">
      {{entry.hours}}
    </div>
  </div>
</accordion-group>
