<accordion-group class="container-fluid my-1">
  <div accordion-heading class="clearfix">
    {{group.activityId | activityTypeIdToName: activityTypes}}
    <app-hour-badge [hours]="group.cumulativeHours" class="float-right pull-right"></app-hour-badge>
  </div>
  <div class="row" *ngFor="let entry of group.entries">
    <div class="col-8">
      <app-editable-log-entry-description [entry]="entry" (changeEntryDescription)="changeEntryDescription($event)"></app-editable-log-entry-description>
    </div>
    <div class="col-4">
      <app-editable-log-entry-hours [entry]="entry" (changeEntryHours)="changeEntryHours($event)"></app-editable-log-entry-hours>
    </div>
  </div>
</accordion-group>
