<div class="row mb-5">
  <div class="col">
    <h1 [class.d-none]="pickingDate">
      <a (click)="startDatePicking()">
        <i class="far fa-calendar"></i>
      </a>
      {{date$.value.toLocaleDateString()}}
    </h1>
    <h1 [class.d-none]="!pickingDate" class="form-inline">
      <a>
        <i class="far fa-calendar"></i>
      </a>
      <input #datePickerInput #datePicker="bsDatepicker" class="form-control border-0" placeholder="Pick a date" bsDatepicker [bsValue]="date$.value"
        (blur)="endDatePicking()" [bsConfig]="{containerClass: 'theme-default'}" (onHidden)="endDatePicking()">
    </h1>
  </div>
</div>

<app-day-attendance [date$]="date$"></app-day-attendance>

<!--form>
  <div class="form-row my-3">
    <h3>Attendance times today</h3>
  </div>
  <div class="form-row">
    <div class="col-4">
      <label for="dayStart">Start</label>
    </div>
    <div class="col-4">
      <label for="dayEnd">End</label>
    </div>
  </div>
  <div class="form-row">
    <div class="col-4">
      <input type="time" class="form-control" [class.is-valid]="(timeValues$ | async) && (start$ | async) === dayStart.value" id="dayStart" #dayStart (change)="setButton.disabled = false" [value]="start$ | async">
    </div>
    <div class="col-4">
      <input type="time" class="form-control" [class.is-valid]="(timeValues$ | async) && (end$ | async) === dayEnd.value" id="dayEnd" #dayEnd (change)="setButton.disabled = false" [value]="end$ | async">
    </div>
    <div class="col-2">
      <button #setButton type="submit" class="btn btn-primary mb-2" [disabled]="true" (click)="timeValues$.next({start: dayStart.value, end: dayEnd.value})">
        <i class="fa fa-check"></i> set</button>
    </div>
  </div>
  <div class="form-row my-3">
    <h3>Extra bookings</h3>
  </div>
  <div class="form-row" *ngFor="let correction of (corrections$ | async)">
    <div class="form-group col-5">
      <input type="text" #desc class="form-control" placeholder="Enter correction description here" [value]="correction.description">
    </div>
    <div class="form-group col-3">
      <input type="text" #hours class="form-control" placeholder="Enter +/- hours here" [value]="correction.hours">
    </div>
    <div class="form-group col-4">
      <button class="btn btn-secondary" (click)="correctionsToUpdate$.next({id: correction.id, description: desc.value, hours: hours.value})">
        <i class="fa fa-check"></i>
      </button>
      <button class="btn btn-danger" (click)="correctionsToDelete$.next(correction)">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
  <div class="form-row mt-2">
    <button class="btn btn-primary" (click)="correctionCreation$.next()">Add</button>
  </div>
</form-->
