<div class="row">
  <div class="col">
    <h1 [class.d-none]="pickingDate">
      <a (click)="startDatePicking()">
        <i class="far fa-calendar"></i>
      </a>
      {{date$.value.toLocaleDateString()}}
    </h1>
    <h1 [class.d-none]="!pickingDate" class="form-inline">
      <a>
        <i class="far fa-calendar"></i>
      </a>
      <input #datePickerInput #datePicker="bsDatepicker" class="form-control border-0" placeholder="Pick a date" bsDatepicker [bsValue]="date$.value"
        (blur)="endDatePicking()" [bsConfig]="{containerClass: 'theme-default'}" (onHidden)="endDatePicking()">
    </h1>
  </div>
</div>

<app-day-attendance class="my-3" [date$]="date$"></app-day-attendance>

<div class="row mb-3 mt-5">
  <div class="col">
    <h3>Activities</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <app-activity-picker #activityToLog (confirm)="refocusOnEnter()" [activities$]="activities$" placeholder="What did you do today?"></app-activity-picker>
  </div>
  <div class="col-sm-3">
    <input id="duration" #hoursToLog (keyup.enter)="refocusOnEnter()" type="text" class="form-control mr-sm-2" placeholder="for how many hours?">
  </div>
  <div class="col">
    <button class="btn btn-primary float-right" #logHoursButton (click)="logHours(activityToLog.name, hoursToLog.value)">Log</button>
  </div>
</div>
<div class="row mt-5">
  <div class="col-sm-1">
    Total:
  </div>
  <div class="col-sm-2">
    <app-hour-badge #totalHoursDisplay [hours]="totalHours$ | async"></app-hour-badge>
  </div>
</div>
<div class="row">
  <div class="col-sm-1">
    Began:
  </div>
  <div class="col-sm-2">
    <app-time-badge #startTimeDisplay [date]="startTime$ | async"></app-time-badge>
  </div>
</div>

<div class="row mt-2">
  <div class="col-sm-12">
    <app-actvity-log-list (changeEntryDescription)="changeEntryDescription($event)" [groups$]="activityLogEntries$ | groupActivityLogEntriesById"
      [activityTypes$]="activityTypes$"></app-actvity-log-list>
  </div>
</div>
