<div class="row">
  <h1 class="col">
    <!--span [class.d-none]="!pickingDate"-->
      <input #datePickerInput #datePicker="bsDatepicker" class="invisible form-control border-0" placeholder="Pick a date" bsDatepicker [bsValue]="date$.value"
        (blur)="endDatePicking()" [bsConfig]="{containerClass: 'theme-default'}" (onHidden)="endDatePicking()">
    <!--/span -->
    <button class="btn" (click)="startDatePicking()">
      <i class="far fa-calendar-alt"></i>
    </button>
    <button class="btn" (click)="pickPreviousDay()">
      <i class="fa fa-chevron-left"></i>
    </button>
    <button class="btn" (click)="pickToday()">
      <i class="far fa-calendar-minus"></i>
    </button>
    <button class="btn" (click)="pickNextDay()">
      <i class="fa fa-chevron-right"></i>
    </button>
    {{(date$ | async).toLocaleDateString()}}
  </h1>
</div>

<app-day-attendance class="my-3" [date$]="date$"></app-day-attendance>

<div class="row mb-3 mt-5">
  <div class="col">
    <h3>Activities</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <app-activity-picker #activityToLog (confirm)="refocusOnEnter()" [activities$]="activities$" placeholder="What did you do today?"></app-activity-picker>
  </div>
  <div class="col-sm-3">
    <input id="duration" #hoursToLog (keyup.enter)="refocusOnEnter()" type="text" class="form-control mr-sm-2" placeholder="for how many hours?">
  </div>
</div>
<div class="row mt-2">
  <div class="col-sm-8">
    <input #descriptionToLog (keyup.enter)="refocusOnEnter()" type="text" class="form-control mr-sm-2" placeholder="Put an (optional) description here">
  </div>
  <div class="col-sm-3">
    <button class="btn btn-primary float-right" #logHoursButton (click)="logHours(activityToLog.name, hoursToLog.value, descriptionToLog.value)">Log</button>
  </div>
</div>
<div class="row mt-5">
  <div class="col-sm-1">
    Total:
  </div>
  <div class="col-sm-2">
    <app-hour-badge #totalHoursDisplay [hours]="totalHours$ | async"></app-hour-badge>
  </div>
</div>
<div class="row">
  <div class="col-sm-1">
    Began:
  </div>
  <div class="col-sm-2">
    <app-time-badge #startTimeDisplay [date]="startTime$ | async"></app-time-badge>
  </div>
</div>
<div class="row">
  <div class="col-sm-1">
    To log:
  </div>
  <div class="col-sm-2">
    <app-hour-badge [hours]="hoursLeftToLog$ | async"></app-hour-badge>
  </div>
</div>

<div class="row mt-2">
  <div class="col-sm-12">
    <app-actvity-log-list (changeEntryDescription)="changeEntryDescription($event)" [groups$]="activityLogEntries$ | groupActivityLogEntriesById"
      [activityTypes$]="activityTypes$"></app-actvity-log-list>
  </div>
</div>
