<div class="row">
    <div class="col">
        <div class="d-flex align-items-center">
            <app-quick-day-picker
                [date]="date$ | async"
                (datePicked)="dayPicked($event)"
            ></app-quick-day-picker>
            <h1 class="d-inline-block ms-3" data-testid="day-heading">
                {{
                    (date$ | async)?.toLocaleDateString("en-us", {
                        weekday: "long",
                    })
                }},
                {{ (date$ | async)?.toLocaleDateString() }}
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <app-day-attendance
        class="my-3 container-fluid col-9"
        [date$]="date$"
    ></app-day-attendance>
    <app-activity-aggregation-chart
        class="col-3"
        [allActivities$]="activityLog$"
        [types$]="activityTypes$"
        [startDate$]="dateDayStart$"
        [endDate$]="dateDayEnd$"
    >
    </app-activity-aggregation-chart>
</div>

<div class="row mb-3 mt-5">
    <div class="col">
        <h3>Activities</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-log-input
            [activities]="(activities$ | async) ?? undefined"
            (logHours)="logHours($event)"
        ></app-log-input>
    </div>
</div>
<div class="row mt-5">
    <div class="col-sm-1">Total:</div>
    <div class="col-sm-2">
        <app-hour-badge
            data-testid="total-hours-display"
            [hours]="totalHours$ | async"
        ></app-hour-badge>
    </div>
</div>
<div class="row">
    <div class="col-sm-1">Began:</div>
    <div class="col-sm-2">
        <app-time-badge
            #startTimeDisplay
            data-testid="start-time-display"
            [date]="startTime$ | async"
        ></app-time-badge>
    </div>
</div>
<div class="row">
    <div class="col-sm-1">To log:</div>
    <div class="col-sm-2">
        <app-hour-badge [hours]="hoursLeftToLog$ | async"></app-hour-badge>
    </div>
</div>

<div class="row mt-2">
    <div class="col-sm-12">
        <!-- vvv (changeEntryDescription)="changeEntryDescription($event)" -->
        <app-actvity-log-list
            [groups$]="activityLogEntries$ | groupActivityLogEntriesById"
            [activityTypes$]="activityTypes$"
        >
        </app-actvity-log-list>
    </div>
</div>
