@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import "./styles/all.min.css";
@import "./colors.css";

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
