<ng-template #printPreview>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Print preview...</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [innerHTML]="printPreviewContents" style="max-height: 500pt; overflow-y: scroll;"></div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="savePrint()">Save</button>
    <button class="btn btn-secondary" (click)="modalRef.hide()">Cancel</button>
  </div>
</ng-template>

<a id="printDownload" style="display:none"></a>

<nav aria-label="Week navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" [routerLink]="['/week', this.week.year - 1, this.week.week]" aria-label="Previous year">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous year</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" [routerLink]="['/week', this.previousWeek.year, this.previousWeek.week]" aria-label="Previous week">
        <span aria-hidden="true">&lsaquo;</span>
        <span class="sr-only">Previous week</span>
      </a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Next week">
        {{week.year}}, Week {{week.week}}
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" [routerLink]="['/week', this.nextWeek.year, this.nextWeek.week]" aria-label="Next week">
        <span aria-hidden="true">&rsaquo;</span>
        <span class="sr-only">Next week</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" [routerLink]="['/week', this.week.year + 1, this.week.week]" aria-label="Next year">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next year</span>
      </a>
    </li>
  </ul>
</nav>

<!--div>
  Filtered: {{(filteredLogEntries$ | async)?.length || '-'}} / {{(activityLogEntries$ | async)?.length || '-'}}
</div-->

<tabset>
  <tab heading='Weekly tally'>
    <div class="row mt-2">
      <div class="card w-100">
        <div class="card-header text-right">
          <a class="nav-item" (click)="openLargeModal(printPreview)">
            <i class="fa fa-print"></i>
          </a>
        </div>
        <div class="card-body">
          <app-tally [entries]="filteredLogEntries$ | async" [activityTypes]="activityTypes$ | async"></app-tally>
        </div>
      </div>
    </div>
  </tab>
  <tab heading='Daily details'>
    <div class="row mt-2" *ngFor="let day of (days$ | async)">
      <div class="card col">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-1 text-right">
              <span class="text-sm text-muted">{{day.date.getMonth() + 1}}/{{day.date.getDate()}}</span>
            </div>
            <div class="col-sm-2 pl-0">
              <h5 class="card-title">
                {{day.name}}
              </h5>
            </div>
          </div>
          <app-actvity-log-list class="mt-2" [groups$]="day.entries$ | groupActivityLogEntriesById" [activityTypes$]="activityTypes$"></app-actvity-log-list>
        </div>
      </div>
    </div>
  </tab>
  <tab heading='Attendance'>
    <div class="row mt-2">
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Start time</th>
              <th>End time</th>
              <th>Hours total</th>
              <th>Non-working hours</th>
              <th>Overtime</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let attendance of (attendances$ | async)">
              <th scope="row">{{attendance.date.getDate()}}. {{attendance.date.getMonth() + 1}}.</th>
              <td>{{attendance.start? attendance.start.getHours() + ':' + (attendance.start.getMinutes() | padNumber) : '-'}}</td>
              <td>{{attendance.end? attendance.end.getHours() + ':' + (attendance.end.getMinutes() | padNumber) : '-'}}</td>
              <td>{{attendance.hours !== undefined? attendance.hours : "-"}}</td>
              <td>{{attendance.nonWorkingHours !== undefined? attendance.nonWorkingHours : "-"}}</td>
              <td><app-overtime-badge [hours]="attendance.overtime"></app-overtime-badge></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th scope="row" colspan="3">Sum totals</th>
              <td>{{(attendanceStats$ | async).totalHours}}</td>
              <td>{{(attendanceStats$ | async).totalNonWorkingHours}}</td>
              <td><app-overtime-badge [hours]="(attendanceStats$ | async).totalOvertime"></app-overtime-badge></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </tab>
</tabset>
