<nav aria-label="Week navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" [routerLink]="['/week', this.year - 1, this.week]" aria-label="Previous year">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous year</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" [routerLink]="['/week', this.previousWeekYear, this.previousWeek]" aria-label="Previous week">
        <span aria-hidden="true">&lsaquo;</span>
        <span class="sr-only">Previous week</span>
      </a>
    </li>
    <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Next week">
          {{year}}, Week {{week}}
        </a>
    </li>
    <li class="page-item">
      <a class="page-link" [routerLink]="['/week', this.nextWeekYear, this.nextWeek]" aria-label="Next week">
        <span aria-hidden="true">&rsaquo;</span>
        <span class="sr-only">Next week</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" [routerLink]="['/week', this.year + 1, this.week]" aria-label="Next year">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next year</span>
      </a>
    </li>
  </ul>
</nav>

<div *ngFor="let day of days">
  <div class="row mt-3">
    <div class="col">
      <h4>{{day.name}}</h4>
    </div>
  </div>
  <div class="row">
    <app-actvity-log-list class="col-lg-6" [entries]="day.entries$ | async" [activityTypes]="activityTypes$ | async"></app-actvity-log-list>
  </div>
</div>
