<div class="d-flex align-items-center">
    <div
        class="navbar-text"
        [class.text-success]="this.isRunning$ | async"
        [class.text-info]="this.isPaused$ | async"
    >
        <i class="fa fa-stopwatch me-2"></i>
    </div>
    <span
        class="navbar-text me-3"
        *ngIf="timeElapsedHours$ | async as timeElapsed; else notRunning"
    >
        {{ timeElapsed | formatHours: "{h}:{m}" }}
    </span>
    <ng-template #notRunning>
        <span class="navbar-text me-3"> --:-- </span>
    </ng-template>
    <button
        type="button"
        class="btn btn-outline-success me-1"
        [disabled]="this.isRunning$ | async"
        (click)="start()"
        title="Start stop watch"
    >
        <i class="fa fa-play"></i>
    </button>
    <button
        type="button"
        class="btn btn-outline-secondary me-2"
        [disabled]="(this.isRunning$ | async) === false"
        (click)="pause()"
        title="Pause stop watch. Resume by clicking the start icon."
    >
        <i class="fa fa-pause"></i>
    </button>
    <button
        type="button"
        class="btn btn-outline-danger ms-2 me-2"
        [disabled]="
            (this.isStarted$ | async) === false &&
            (this.isPaused$ | async) === false
        "
        title="Reset stop watch to zero."
        (click)="reset()"
    >
        <i class="fa fa-stop"></i>
    </button>
    <app-activity-picker
        #picker
        class="navbar-text me-sm-2"
        placeholder="Log elapsed time as..."
        [activities]="(this.activities$ | async) ?? undefined"
    ></app-activity-picker>
    <button
        type="button"
        class="btn btn-outline-success"
        (click)="logClick$.next(picker.name)"
    >
        Log
    </button>
</div>
