<div class="row">
    <div class="col">
        <div class="alert alert-danger" role="alert">
            This is a work in progress. Backup early, and often!
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="bg-light rounded-3 p-5">
            <div class="container">
                <h1 class="display-4">Welcome to the time tracker app!</h1>
                <hr class="my-4" />
                <p>
                    <span class="font-weight-bold"
                        >Your data is stored locally</span
                    >, in your browser. You must backup data yourself, use the
                    cog icon in the navbar.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="p-5">
            <h3>New features</h3>
            <h4>Tags part 2</h4>
            <p>
                There's now a rudimentary aggregation of activities per tag in
                the week view.
            </p>
            <h4>Tags part 1</h4>
            <p>
                You can now add tags to activity descriptions. Just add them by
                prefixing them with <code>#</code>. These can be used in a
                variety of ways, for example, to associate acitvities with
                projects. For example, you can log an activity
                <code>Meeting</code> and use a description
                <code>Regular sync up for project #Foo</code>, where
                <code>Foo</code> is the name of the project.
            </p>
            <p>Note that tags must be one word, i.e., cannot contain spaces.</p>
            <p>
                One of the next steps for this feature is to provide summaries
                for the time spent per tag. Together, this will allow you to
                track times for projects or any other activities you may want to
                group outside of the regular acitivty types.
            </p>
        </div>
    </div>
</div>
