<ng-template #mergeActivitiesDialog>
    <app-modal-header (dismissed)="hideModal()"
        >Merge activities</app-modal-header
    >
    <div class="modal-body">
        <p>You are about to move all activites from:</p>
        <div>{{ mergeSource ? mergeSource.name : "not set" }}</div>
        <p>into the following activity:</p>
        <div>
            <app-activity-picker
                data-testid="merge-activity-target"
                [activities]="activitiesWithoutSource"
                #moveTarget
                placeholder="select an move target"
            ></app-activity-picker>
        </div>
        <p>
            Afterwards, {{ mergeSource ? mergeSource.name : "not set" }} will be
            deleted.
        </p>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-danger"
            data-testid="confirm-merge"
            [disabled]="!mergeSource || !moveTarget.name"
            (click)="
                confirmMerge$.next({
                    source: mergeSource,
                    target: {
                        name: moveTarget.name,
                        id: moveTarget.id,
                        isNonWorking: false,
                        isArchived: false,
                    },
                })
            "
        >
            Merge and delete source
        </button>
        <button type="button" class="btn btn-default" (click)="hideModal()">
            Cancel
        </button>
    </div>
</ng-template>

<app-activity-type-list
    [types]="activities$ | async"
    (mergeRequest)="openMergeDialog(mergeActivitiesDialog, $event)"
></app-activity-type-list>
