<form>
    <div class="row my-3">
        <h3>Attendance</h3>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="dayStart">Start</label>
        </div>
        <div class="col-4">
            <label for="dayEnd">End</label>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-4">
            <input
                type="time"
                class="form-control"
                [class.is-valid]="this.startValid$ | async"
                data-testid="day-start"
                id="dayStart"
                #dayStart
                (change)="setButton.disabled = false; timeInputsChaged$.next()"
                [value]="start$ | async"
            />
            <button
                type="button"
                data-testid="clock-in-button"
                class="btn btn-light my-2"
                (click)="
                    setTimeToNowPlusMinutes(dayStart, -2);
                    setButton.disabled = false;
                    timeInputsChaged$.next()
                "
            >
                <i class="fa fa-sign-in-alt"></i> 2 min ago
            </button>
        </div>
        <div class="col-4">
            <input
                type="time"
                data-testid="day-end"
                class="form-control"
                [class.is-valid]="this.endValid$ | async"
                id="dayEnd"
                #dayEnd
                (change)="setButton.disabled = false; timeInputsChaged$.next()"
                [value]="end$ | async"
            />
            <button
                type="button"
                data-testid="clock-out-button"
                class="btn btn-light my-2"
                (click)="
                    setTimeToNowPlusMinutes(dayEnd, +2);
                    setButton.disabled = false;
                    timeInputsChaged$.next()
                "
            >
                <i class="fa fa-sign-out-alt"></i> in 2 min
            </button>
        </div>
        <div class="col-4">
            <button
                #setButton
                type="button"
                data-testid="submit-attendance"
                class="btn btn-primary mb-2"
                [disabled]="true"
                (click)="
                    timeValues$.next({
                        start: dayStart.value,
                        end: dayEnd.value,
                    })
                "
            >
                <i class="fa fa-check"></i> set
            </button>
        </div>
    </div>
    <accordion>
        <accordion-group heading="Extra bookings" data-testid="extra-bookings">
            <div
                class="row mb-2"
                *ngFor="let correction of corrections$ | async"
            >
                <div class="form-group col-5">
                    <input
                        type="text"
                        data-testid="extra-booking-description"
                        #desc
                        class="form-control"
                        placeholder="Enter correction description here"
                        [value]="correction.description"
                    />
                </div>
                <div class="form-group col-3">
                    <input
                        type="text"
                        data-testid="extra-booking-hours"
                        #hours
                        class="form-control"
                        placeholder="Enter +/- hours here"
                        [value]="correction.hours | formatHours: '{h}:{m}'"
                    />
                </div>
                <div class="form-group col-4">
                    <button
                        class="btn btn-secondary me-1"
                        type="button"
                        data-testid="confirm-update-correction"
                        (click)="
                            updateCorrection(
                                correction.id,
                                desc.value,
                                hours.value
                            )
                        "
                    >
                        <i class="fa fa-check"></i>
                    </button>
                    <button
                        class="btn btn-danger"
                        type="button"
                        data-testid="cancel-update-correction"
                        (click)="correctionsToDelete$.next(correction)"
                    >
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col">
                    <button
                        class="btn btn-primary"
                        type="button"
                        data-testid="add-extra-booking"
                        (click)="correctionCreation$.next()"
                    >
                        Add
                    </button>
                </div>
            </div>
        </accordion-group>
    </accordion>
</form>
