<div class="btn-group" dropdown>
    <button
        dropdownToggle
        type="button"
        class="btn btn-secondary dropdown-toggle"
    >
        <span
            class="dropdown-item"
            href="#"
            [class]="
                'colorbox p-0 me-1 ' + (currentColor?.styleClass || 'bg-white')
            "
        ></span>
        <span>{{ currentColor?.id || "none" }}</span>
        <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
        @for (color of colors; track color) {
            <li role="menuitem">
                <a
                    class="dropdown-item"
                    href="javascript:void(0);"
                    (click)="colorPicked.emit({ colorId: color.id })"
                >
                    <span
                        [class]="
                            'colorbox p-0 me-1 ' +
                            (color?.styleClass || 'bg-white')
                        "
                    ></span>
                    {{ color?.id || "none" }}
                </a>
            </li>
        }
    </ul>
</div>
